*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Playfair Display', sans-serif;                                        
}
ul,
ol {
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1180px;
    margin: 0 auto;
}
header{
    padding: 20px;
    position: fixed;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item{
    margin-right: 60px;
}
.nav__item a{
    color: white;
}
.nav__control{
    display: flex;
    align-items: center;
}
.in{
    margin-right: 35px;
    color: white;
}
.up{
    color: #1E1E1E;
    padding: 14px 27px;
    border-radius: 24px;
    background: #F9C06A;
}

/* hero */

.hero{
    padding-top: 185px;
    padding-bottom: 95px;
    background-image: url('../img/coffee_image\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__content{
    width: 527px;
}
.hero__title{
    font-size: 22px;
    font-weight: 500;
    color: white;
}
.hero__text{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}
.hero__btn{
    border: none;
    padding: 14px 26px;
    border-radius: 24px;
    background: #F9C06A;
    color: #1E1E1E;
    font-weight: 700;
}

/* discover */

.discover{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discover h2{
    color: var(--coffee, #603809);
    font-size: 54px;
    font-weight: 700;
}
.discover p{
    padding-top: 29px;
    width: 585px;
    color: #707070;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}
.discover button{
    margin-top: 29px;
    border: none;
    padding: 14px 24px;
    border-radius: 24px;
    background: #F9C06A;
}
.discover+ div{
    width: 1366px;
    height: 5085px;
}

/* enjoy */

.enjoy__title{
    text-align: center;
    color: var(--coffee, #603809);
    font-size: 54px;
    font-weight: 700;
}
.enjoy__text{
    color: #707070;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}
.enjoy__picture{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.enjoy__picture div{
    text-align: center;
    border: 1px solid rgba(249, 192, 106, 0.42);
    background: #FFF9F1;
}
.one{
    height: 364px;
}
.one h4{
    padding-top: 14px;
    color: var(--coffee, #603809);
    font-size: 22px;
    font-weight: 700;
}
.one p{
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 400;
}
.one span{
    display: block;
    color: var(--coffee, #603809);
    font-size: 18px;
    font-weight: 700;
}
.one button{
    margin-top: 20px;
    padding: 14px 26px;
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 700;
    border-radius: 24px;
    background: #F9C06A;
    border: none;
}

/* why */

.why{
    margin-top: 106px;
}
.why__pic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    text-align: center;
    margin-top: 16px;
    color: var(--coffee, #603809);
    font-size: 54px;
    font-weight: 700;
}
p{
    color: #707070;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px; 
    margin-bottom: 32px;
}
.pic__div{
    width: 280px;
    height: 284px;
    background: #FFEED8;
}
.pic__div img{
    margin-top: 36px;
    padding: 0 96px;
}
.pic__div h4{
    text-align: center;
    color: var(--coffee, #603809);
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
}
.pic__div p{
    margin-top: 10px;
    margin-left: 56px;
    text-align: center;
    width: 176px;
    height: 54px;
}
.p{
    margin-top: 32px;
    color: #707070;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px; 
}
h4{
    margin-top: -32px;
    text-align: center;
    color: var(--coffee, #603809);
    font-size: 30px;
    font-weight: 700;
}
.why__button{
    padding: 14px 41px;
    border-radius: 24px;
    background: #F9C06A;
    border: none;
    margin-top: 24px;
    margin-left: 530px;
}


/* .hero{
    margin-top: 200px;
    padding: 100px;
    background: url(../img/Rectangle\ 16\ \(2\).png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__main h2{
    padding-bottom: 16px;
    color: white;
}
.hero__main p{
    padding-bottom: 16px;
    color: white;
}
.control{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 642px;
    margin: 0 auto;
    margin-top: 26px;
    border-radius: 4px;
    overflow: hidden;
}
.control input{
    padding: 16px 26px;
    border: none;
    outline: none;
}
.control button{
    padding: 19px 24px;
    border-radius: 4px;
    background: #f9c06a;
    bottom: none;
} */







/* .date{
    background-color: #F2EFE6;
    padding-top: 54px;
    padding-bottom: 73px;
}
.date__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date__left h2{
    font-size: 48px;
    font-weight: 600;
    color: #163A24;
}
.date__left p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 26px;
    color: #163A24;
}
.date__right{
    width: 590px;
}
.date__contol{
    background-color: #fff;
    border-radius: 255px;
    border: 1px solid #F2EFE6;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.date__contol input{
    border: none;
    outline: none;
    padding: 15px 25px;
    flex-grow: 0.9;
    margin-left: 20px;
    border-bottom: 1px solid transparent;
}
.date__contol input:focus{
    border-bottom: 1px solid #000;
}
.date__contol button{
    border-radius: 160px;
background: #15762E;
padding: 15px 25px;
color: white;
border: none;
}
.contol__info{
    margin-top: 11px;
    color: #163A24;
    font-size: 14px;
}
.contol__info span{
    color: #198C36;
} */